In [1]:
import pandas as pd
import numpy as np
csv = pd.read_csv('HW2_data.csv')

In [2]:
csv = csv.sort_values(by=['0'])
rows , _ = csv.shape

In [3]:
filed = pd.DataFrame(columns=['Name'])
saved_name = ""
column_list = list(filed.columns)
people_counter = -1
for index in range(rows):
    extract = csv.iloc[index]
    if saved_name != extract['0']:
        saved_name = extract['0']
        filed = filed.append({'Name':saved_name},ignore_index=True)
        people_counter += 1
    if extract['1'] not in column_list:
        filed[extract['1']] = ""
        column_list = list(filed.columns)
    filed.at[people_counter,extract['1']] = extract['2']

In [4]:
filed

         Name Height Age Sex Weight   HR   BP
0     Abigail    161  46   F     56   87  119
1       Aiden    166  38   M     69   93  136
2   Alexander    171  43   M     62   66  124
3      Amelia    151  66   F     49  NaN  119
4        Aria    170  55   F     59   81  127
5         Ava    165  70   F     63   66  NaN
6       Avery    159  66   F     54   72  121
7    Benjamin    164  39   M     68   72  122
8      Camila    166  44   F     46  NaN  134
9   Charlotte    NaN  65   F    NaN   82   92
10      Chloe    174  70   F     66   81   93
11     Daniel    165  37   M     72   80  131
12     Elijah    177  30   M     73   64  137
13  Elizabeth    163  43   F     56   84   98
14       Ella    168  10   F     67   80  137
15      Emily    166  52   F     46   84   98
16       Emma    159  35   F     64   61  137
17      Ethan    167  12   M     61   86  103
18     Evelyn    168  60   F     60   67  106
19      Grace    172  15   F     64   91  134
20     Harper    174  36   F     53   60  121
21      Henry    179  70   M     63   81  130
22   Isabella    151  31   F     51   82   94
23    Jackson    170  46   M     64   81   97
24      Jacob    183  13   M     76   89  147
25      James    NaN  65   M    NaN   67  124
26     Joseph    168  42   M     70  NaN  110
27      Layla    156  12   F     47   87  142
28       Liam    172  45   M     62   94  141
29    Lillian    158  66   F     59   64   91
30      Logan    177  62   M     76   87  NaN
31      Lucas    171  39   M     64  NaN  148
32    Madison    NaN  74   F    NaN   80  NaN
33      Mason    186  37   M     76  NaN  134
34    Matthew    166  69   M     70   85  128
35        Mia    171  60   F     60   90  127
36    Michael    163  13   M     65   79  NaN
37       Mila    164  48   F     48  NaN  139
38       Noah    181  30   M     68   77  NaN
39       Nora    153  48   F     59   82   93
40     Oliver    184  45   M     66   62  139
41     Olivia    152  51   F     52   92  100
42   Penelope    174  47   F     61  NaN  134
43      Riley    NaN  26   F    NaN   78  139
44   Scarlett    154  60   F     64   74  107
45      Sofia    171  58   F     59   79  131
46     Sophia    168  66   F     49   62  144
47   Victoria    NaN  62   F    NaN   65   96
48    William    174  38   M     73   86  119
49       Zoey    NaN  37   F    NaN   79  112

In [5]:
(filed.at[3,'HR']) is np.nan

True

In [6]:
filed_rows , _ = filed.shape

In [7]:
filed.iloc[49]['Sex']

'F'

In [ ]:
big_list = [[0,0,0,""],[0,0,0,""],[0,0,0,""],[0,0,0,""],[0,0,0,""]] # num_of_people , total_value , Max_value , Max_People
M_Height = []
M_Weight = []
F_Height = []
F_Weight = []
age_bar = []
travel_columns = ["Height","Age","Weight","HR","BP"]
for index in range(filed_rows):
    Gender = filed.iloc[index]['Sex']
    #we need check Height and Weight correctness to append to the H_W scatter graph
    for travel_index in range(len(travel_columns)):
        if filed.at[index,travel_columns[travel_index]] is not np.nan:
            t_value = int(filed.at[index,travel_columns[travel_index]])
            big_list[travel_index][0] += 1
            big_list[travel_index][1] += t_value
            if big_list[travel_index][2] < t_value:
                big_list[travel_index][2] = t_value
                big_list[travel_index][3] = filed.iloc[index]['Sex']
            if Gender == 'M' and travel_columns[travel_index] == "Height":

In [17]:
help(list.insert)
idid = [0,39,4,2]
len(idid)

Help on method_descriptor:

insert(...)
    L.insert(index, object) -- insert object before index

4

In [18]:
target = 10 
idid.extend([0]*(target+1-len(idid)))

In [19]:
idid

[0, 39, 4, 2, 0, 0, 0, 0, 0, 0, 0]